;; emacs backup
\.\#*
\#*\#
;; other
\.Rproj.user
\.Rhistory
\.RData
\.Ruserdata
Meta
NMdata\.Rproj
devel/NMdata_Rpackage/figure
devel/NMdata_Rpackage/derived
devel/NMdata_Rpackage/NMdata_Rpackage\.pdf
doc
docs
vignettes/*\.pdf
vignettes/*\.html
vignettes/*\.md
vignettes/*\.R
inst/examples/nonmem/modelfit_dir*
inst/examples/nonmem/trashed_*
inst/examples/nonmem/backup_*
inst/examples/nonmem/*\.ext
inst/examples/nonmem/*\.phi
inst/examples/nonmem/xgxr001dir/backup_*
